@page
@model ContentTracker.Pages.GamesModel
@{
    ViewData["Title"] = "Games";
}
<div class="form-container">
    <form method="post">
        <input type="text" id="gameName" name="GameName" asp-for="GameName" />
        <div class="dropdown">
            <select id="selectedMonth" name="SelectedMonth" asp-for="SelectedMonth">
                <option value="January">January</option>
                <option value="Fedruary">Fedruary</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
            </select>
        </div>
        <button type="submit" class="btn">ADD GAME</button>
    </form>

    <form method="post" asp-page-handler="Logout" style="margin-left: auto;">
        <button type="submit" class="btn">Logout</button>
    </form>
</div>


@if (Model.Games != null && Model.Games.Count > 0)
{
    <div class="row">
        @foreach (var game in Model.Games)
        {
            <div class="poster">
                <img src="@game.Background_image" alt="@game.Name"/>
                <div class="details">
                    <h2>@game.Name</h2>
                </div>
            </div>
        }
    </div>
}


